<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--<PatternLayout pattern="%d{yyyyMMdd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>-->
            <PatternLayout pattern="%d{yyyyMMdd HH:mm:ss.SSS} [%.-15t] [%-5level] [%-20C{1.}]:%-4L - %msg%n"/>
        </Console>
        <RollingFile name="rollingFile" fileName="log/mt.log"  filePattern="log/mt-%d{yyyy-MM-dd-HH}.log.gz" >
            <PatternLayout pattern="%d{yyyyMMdd HH:mm:ss.SSS} [%-5t] [%-5level] [%-20C{1.}]:%-4L - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="600">
                <Delete basePath="log" maxDepth="2">
                    <IfAccumulatedFileCount exceeds="600" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="apacheRollingFile" fileName="log/apache.log"  filePattern="log/apache-%d{yyyy-MM-dd-HH}.log.gz" >
            <PatternLayout pattern="%d{yyyyMMdd HH:mm:ss.SSS} [%.-15t] [%-5level] [%C{1.}]:%L - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="100">
                <Delete basePath="log" maxDepth="2">
                    <IfAccumulatedFileCount exceeds="20" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="rollingFile"/>
        </Root>
        <Logger name = "com.cnpc" level = "debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="rollingFile"/>
        </Logger>
        <Logger name = "org.apache" level = "error" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="apacheRollingFile"/>
        </Logger>
    </Loggers>
</Configuration>